@font-face {
  font-family: Ubuntu;
  src: url("./fonts/Ubuntu-Bold.ttf ");
  font-weight: bold;
}

@font-face {
  font-family: OpenSans;
  src: url("./fonts/OpenSans-Medium.ttf");
  font-weight: normal;
}

:root {
  --text_color: white;
  --link_color: #edfa90;
  --heading_color: white;
  --backgroundcolor1: #3b5441;
  --pagecolor: rgba(255, 255, 255, 0.1);
  --pagebordercolor: rgba(255, 255, 255, 0.3);
  --cardcolor: rgba(0, 0, 0, 0.2);
  --navbarcolor1: rgba(0, 0, 0, 0.7);
  --navbarcolor2: black;
  --accentcolor: #edfa90;
  --accenttextcolor: black;
}

.App {
  background-image: linear-gradient(to right, black, var(--backgroundcolor1));
  height: auto;
  width: auto;
  padding-top: 30px;
  padding-bottom: 60px;
}

.PageHolder {
  max-width: 900px;
  height: auto;
  margin: auto;
  padding: 25px;
  margin-top: 40px;
  text-align: left;
  display: flex;
  flex-flow: row nowrap;
  gap: 30px;
  background-color: var(--pagecolor);

  border: 1px solid var(--pagebordercolor);
  border-radius: 15px;

  transition: margin-top 0.5s;
}

.SectionHolder {
  margin: 0px;
  flex-shrink: 1;
  flex-grow: 1;
  height: auto;
}

.MainHeader {
  width: 300px;
  height: auto;
  flex-shrink: 0;
}

.Sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}

.ContactInfoBox {
}

.Card {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  gap: 30px;
  border: 1px solid transparent;
  background-color: var(--cardcolor);
  border-radius: 20px;
  padding: 30px;
}

.Column {
  display: flex;
  flex-flow: column nowrap;
}

.Invisible {
  background-color: transparent;
  border-color: transparent;
  padding: 0px;
  margin: 0px;
}

.Section {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  margin-bottom: 50px;
}

.NavBar {
  background-image: linear-gradient(
    to top,
    var(--navbarcolor1),
    var(--navbarcolor2)
  );
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0px;
  z-index: 1;
}

.NavBar a {
  float: left;
  color: var(--text_color);
  display: block;
  text-align: center;
  padding: 10px;
}

.NavBarButton {
  align-self: flex-start;
}

.SkillsList {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  padding-top: 15px;
}
.SkillsList li {
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: var(--accentcolor);
  padding: 10px 20px 10px 20px;
  color: var(--accenttextcolor);
}

.CardList {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  gap: 10px;
}

.CardList .Card {
  width: 100%;
  margin-bottom: 20px;
}

.ColumnToRow {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 30px;
}

.ImageHeader {
  width: 100%;
}

.InlineImg {
  width: 200px;
  align-self: center;
}

.MainTitle p {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.MainTitle {
  padding-bottom: 25px;
}

html {
  scroll-behavior: smooth;
}

h3,
h4,
h5,
h6 {
  margin: 0px;
  color: var(--heading_color);
  padding: 0px;
  padding-bottom: 10px;
  font-family: Ubuntu;
}

h1 {
  margin: 0px;
  color: var(--heading_color);
  padding: 0px;
  padding-bottom: 0px;
  font-size: 45px;
  font-family: Ubuntu;
}

h2 {
  font-family: Ubuntu;
  font-size: 30px;
  margin: 0px;
  color: var(--heading_color);
  padding: 0px;
  padding-bottom: 10px;
}

p,
li {
  font-family: OpenSans;
  color: var(--text_color);
  line-height: 1.7;
  font-size: 13px;
  word-spacing: 0.5px;
  letter-spacing: 0.2px;
  padding: 0;
  margin: 0;
}

img {
  height: auto;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 10px;
}

ul {
  list-style-type: none;

  margin: 0px;
  padding: 0px;
}

header {
  width: 25%;
  margin: 0px;
  flex-shrink: 0;
  flex-grow: 0;
}

button {
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: var(--accentcolor);
  padding: 10px 20px 10px 20px;
  font-size: 100%;
}

a {
  color: var(--link_color);
  text-decoration: none;
}

button a {
  color: var(--accenttextcolor);
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 930px) {
  .PageHolder {
    flex-flow: column nowrap;
    gap: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .SectionHolder {
    width: 100%;
  }

  .MainHeader {
    width: 100%;
  }

  .ColumnToRow {
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .ColumnToRow {
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .SkillsList {
    gap: 10px;
  }

  .RowToColumn {
    flex-flow: row wrap;
  }

  .MaxWidth {
    width: 100%;
  }
}

@media only screen and (max-height: 800px) {
  .Sticky {
    position: relative;
    top: 0px;
  }

  .NavBar {
    height: 60px;
  }

  .PageHolder {
    margin-top: 60px;
  }
}
