.App {
  background-color: lightgray;
}

.Section-Holder {
  text-align: left;
  max-width: 800px;
  margin: auto;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid transparent;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  flex-grow: 1;
}

.Card img {
  max-width: 500px;
  height: 300px;
}

.Parallel {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  gap: 10px;
}

.Section {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  gap: 10px;
  border: 2px solid lightblue;
  margin-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

img {
  width: 300px;
  height: auto;
}

ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  margin: 0px;
  padding: 0px;
  gap: 10px;
}

ul li {
  width: 100%;
  margin-bottom: 20px;
}
