.App {
  text-align: left;
  max-width: 800px;
  margin: auto;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 0px solid darkblue;
  background-color: lightgreen;
  border-radius: 20px;
  padding: 30px;
  flex-grow: 1;
}

.Section {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  gap: 10px;
  border: 2px solid lightblue;
}
